body{
    margin: 0px;
}

.soutLine{
background-color: rgb(18, 31, 51);
height: 17vh;
}
#userName{
color: white;
font-size: 24px;
top: 6vh;
right: 5%;
}
#logo{
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    top: 4vh;
}
.questionAndAnswer{
    position: absolute;
    top: 25%;
    left: 20%;
}
#next{
    position: absolute;
    top: 70%;
    left: 28%;
    border: none;
}
#prev{
    position: absolute;
    top: 70%;
    left: 16%;
    border: none;
}
#submit{
    position: absolute;
    top: 70%;
    left: 40%;
    border: none;
    /* display: none; */
}
#option1{
    position: absolute;
    height: 45%;
    width: 125%;
    top: 10vh;
    background-color: aquamarine
}
#option2{
    position: absolute;
    height: 45%;
    width: 125%;
    top: 17vh;
    background-color: aquamarine
}
#option3{
    position: absolute;
    height: 45%;
    width: 125%;
    top: 24vh;
    background-color: aquamarine
}
#option4{
    position: absolute;
    height: 45%;
    width: 125%;
    top: 31vh;
    background-color: aquamarine
}

#result-div {
    display: none;
}
