body{
    margin: 0px;
    overflow-x: hidden;
}
#background{
    background-color: #0F164E;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    }
.logoName{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    position: relative;
    top: 12vh;
    left: 40%;
}
.start{
    position: relative;
    top: 25vh;
    background-color: white;
    left: 38.5%;
    height: 7%;
    width: 20%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.start:hover{
    background-color: aquamarine;
}
.logoImg{
    position: relative;
    top: 20vh;
    left: 39%;
}
p{
    position: relative;
    top: 18vh;
    left: 35%;
    color: white;
    font-size: 20px;
}
