/* body{
    padding-left: 0px;
    padding-right: 0px;
}
.header{
    background-color: #616161;
    
   justify-content: center;
}
.slogo{
    color: white;
    float: left;
}
    .susername{
    color: white;
    position: relative;
    float: right;
    margin-top: 10%; 
} */

body{
    margin: 0px;
}

.soutLine{
background-color: rgb(18, 31, 51);
height: 17vh;
}
#userName{
color: white;
font-size: 24px;
top: 6vh;
right: 5%;
}
#logo{
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    top: 4vh;
}
.questionAndAnswer{
    position: absolute;
    top: 25%;
    left: 20%;
}
#next{
    position: absolute;
    top: 60%;
    left: 28%;
    border: none;
}
#prev{
    position: absolute;
    top: 60%;
    left: 16%;
    border: none;
}
#submit{
    position: absolute;
    top: 60%;
    left: 40%;
    border: none;
    /* display: none; */
}
/* #option1{
    position: absolute;
    height: 45%;
    width: 125%;
    background-color: aquamarine
} */